<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Sample test Suite">
	<test name="UNF055">
		<classes>
			<class name="com.training.sanity.tests.UNF055Test" />
		</classes>
	</test>

	<test name="UNF056">
		<classes>
			<class name="com.training.sanity.tests.UNF056Test" />
		</classes>
	</test>

	<test name="UNF057">
		<classes>
			<class name="com.training.sanity.tests.UNF057Test" />
		</classes>
	</test>
</suite>	